.asterix{
    color: red;
}
.error {
   color:red;
} 
select.form-control.error{
    color: #555;
    font-weight: normal;
}
.space-align{
    margin-bottom: 0px;
}
.btn-none-align{
	float:right;
	margin-top:-44px !important;
	text-indent: 0px;
}
.error_textbox {
	border:1px soild red;
}
no-sort::after { 
	display: none!important; 
}
.help-block{
	color: #ff0000 !important;
    font-size: 11px !important;
}
.help-bloack-notification{
	display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #bbd042 !important;
    font-size: 12px !important;
}
.has-error .form-control {
	border:1px solid #ccc;
}
.input-sm {
	border-radius:0px !important;
}
.feature_title {
	padding-top:5px !important;
}
.custom_radio{
	font-weight: normal !important;
}
.textbox_space_align {
	margin-left:-14px;
	width:281px;
}
.error[for="date_of_birth"] {
    position: absolute;
    bottom: -15px;
    left: 0;
}
.view_report{
	margin-right: -425px !important;
}
.img-profile-edit {
    padding-right: 0px !important;
    background-size: cover;
    margin-top: -10px;
    width: 120px;
    border-radius: 50%;
}
.view-image-edit {
	height: 120px;
    width: 120px;
    border: 1px solid #f5f5f5;
    margin-bottom: 10px;
}