@font-face {
    font-family: 'ArnoProRegular';
    src: url('../fonts/ArnoProRegular.eot');
    src: url('../fonts/ArnoProRegular.eot') format('embedded-opentype'),
         url('../fonts/ArnoProRegular.woff2') format('woff2'),
         url('../fonts/ArnoProRegular.woff') format('woff'),
         url('../fonts/ArnoProRegular.ttf') format('truetype'),
         url('../fonts/ArnoProRegular.svg#ArnoProRegular') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTComTh';
    src: url('../fonts/HelveticaNeueLTComTh.eot');
    src: url('../fonts/HelveticaNeueLTComTh.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTComTh.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLTComTh.woff') format('woff'),
         url('../fonts/HelveticaNeueLTComTh.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTComTh.svg#HelveticaNeueLTComTh') format('svg');
}

body {
    height: 100%;
    font-family: arial;
    overflow-x: hidden;
    overflow-y: auto;
}

a { outline: none !important; }
a:hover { text-decoration: none;}
textarea:focus,input:focus { outline: none !important; }
.p-none{ padding: 0; }


.login_body {
    background: url(../images/login_bg_option1.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}
.login_box_wrap {
    position: fixed;
    top: 50%;
    margin-top: -112.5px;
    height: 225px;
}

.login_box_wrap h1 {
    font-family: 'HelveticaNeueLTComTh';
    font-size: 36px;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 30px;
}
.login_input {
    padding-right: 0;
}
.login_input span {
    left: 0;
    position: absolute;
    top: 48px;
}
.pw_input span {
    left: 15px;
    position: absolute;
    top: 48px;
}
.forgot_input input {
    margin-bottom: 30px;
}
.forgot_input span {
    top: 170px;
}
.login_input input {
    width: 100% !important;
    border-radius: 0;
    height: 48px;
    background-color: rgba(255,255,255,0.20);
    border: 0;
    color: #fff;
    font-size: 14px;
    border: 1px solid #53575c;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.login_input input::-webkit-input-placeholder { color:#fff; }
.login_input input::-moz-placeholder { color:#fff; }
.login_input input:-ms-input-placeholder { color:#fff; }
.login_input input:-moz-placeholder { color:#fff; }

.login_input input:focus, .login_input input:hover {
    box-shadow: none;
    text-shadow: none;
    border: 1px solid #ccc;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.login_btn button {
    width: 100% !important;
    border-radius: 0;
    height: 46px;
    color: #fff;
    border: 0;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.login_btn button:hover {    
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.login_chkbox {
    margin: 20px 0;
    color: #fff;
    float: left;
}
.login_links a {
    color: #fff;
    text-decoration: underline;
    margin-right: 20px;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.login_links a:hover, .login_chkbox label:hover {
    color: #ccc;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
span.error{
  float: left;
  width: 100%;
  color: #ff0000;
  font-size: 11px;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2px;
}

/* login_v1 page css */
.logo-wrapper{
    margin: 45px 0 75px 0;
    text-align: right;
}
.login_box_wrap_v1{
    position: relative;
    margin-top: 165px;
}
.login_box_wrap_v1 .login_btn{
    padding-right: 0;
}
.login_box_wrap_v1 .login_input:first-child{
    padding-left: 0;
}
.login_box_wrap_v1 .forgot_link{
    padding-left: 0px;
    margin-top: 15px;
}

/* ---- Media Queries ---- */

@media screen and (max-width: 1200px){
    .login_box_wrap {
        position: relative;
        top: 200px;
        height: auto;
    }
}

@media screen and (max-width: 1024px){
    /* login page v1 css */
    
    .login_box_wrap_v1{
        top: 15px;
        margin-top: 85px;
    }
    .logo-wrapper{
        margin: 75px 0;
    }

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .login_input {
        position: relative;
        z-index: 99;
    }
    .login_box_wrap {
        position: relative;
        top: 120px;
        height: auto;
        margin-bottom: 40px;
    }
    .login_btn {
        padding-right: 0;
    }
    .login_links {
        padding-bottom: 40px;
    }
    /* login page v1 css */
    .login_box_wrap_v1 .login_btn,
    .login_box_wrap_v1 .login_input{
        padding-right: 15px;
    }
    .login_box_wrap_v1{
        top: 15px;
        margin-top: 55px;
    }
    .logo-wrapper{
        padding: 0 15px;
        margin: 45px 0;
    }
    .login_box_wrap_v1 .login_input:first-child{
        padding-left: 15px;
    }
    .logo-wrapper{
        text-align: center;
    }
    .login_box_wrap_v1 .forgot_link{
        margin: 10px 0;
        padding: 0 0 0 15px;
    }
    .login_box_wrap_v1 .login_chkbox {
        margin: 4px 0 0 0;
    }
    .login_box_wrap_v1 .login_links a,
    .login_box_wrap_v1 .login_chkbox .checkbox{
        padding-left: 15px;
    }
    .login_box_wrap_v1 .login_links a {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    p.errmsg {
        color: #ff0000 !important;
        font-size: 13px;
        margin-top: 10px;
        padding-left: 15px;
    }
    .login_input span {
        left: 15px;
        position: absolute;
        top: 48px;
    }
    .forgot_input span {
        left: 0;
        top: 42px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    
}

@media screen and (max-width: 640px){
    .login_box_wrap h1 { 
        font-size: 30px;
    }
    .login_box_wrap_v1{
        margin-top: 15px;
    }
}

@media screen and (max-width: 479px){
    .login_links a {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .login_box_wrap h1 { 
        font-size: 26px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 360px){
    
}