/* CSS for Profile page*/
.p-none{
  padding: 0px !important;
}
.m-none{
    margin: 0px;
}
.m-top-10{
    margin-top: 10px;
}
.m-top-20{
  margin-top: 20px;
}
.p-l-none{
  padding-left: 0px !important;
}

.custom-form-row{
    width: 70%;
    text-align: left;
    padding-top: 15px;
}
.custom-form-row-full{
  width: 100%;
  text-align: left;
  padding-top: 15px;
}
.custom-form-row .form-label-title{
  padding-top: 5px;
}
.custom_subtitle{
  font-weight: 600;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd !important;
}

.img-profile{
  padding-right: 0px !important;
  background: url('../images/user-avtar.png') no-repeat;
  background-size: cover;
  margin-top: -10px;
  width: 120px;
  border-radius: 50%;

}
input.profile-pic{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
}

img.user-avtar {
    border-radius: 50%;
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}
.error{
  float: left;
  width: 100%;
  color: #ff0000;
  font-size: 11px;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2px;
}
input[type='password']{
  /*font-size: 24px;*/
  letter-spacing: 0;
}
.change-pass{
  width: 100%;
  text-align: right;
}
.change-pass a{
  text-decoration: underline;
}
.change-pass a:hover{
  text-decoration: none;
}
.custom-add-bordered-btn {
    border-radius: 0px;    
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.custom-add-bordered-btn:hover, .custom-add-bordered-btn:focus {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.custom_btn {
    border-radius: 0;
    border-radius: 0;
    margin-right: 0;
    margin-left: 10px;
}
.custom-save-btn {
   
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn-gray{
    background-color: #f0f0f0;
}

.custom-file-input{
    margin: 0;
    padding: 6px 0px;

}
.text-right{
    text-align: right;
}
.custom_radio{
  font-weight: 100;
}
.custom-doc-control input[type='file']{
  width: 100%;
  padding-bottom: 10px;
}
.custom-doc-control > a.custom-bordered-btn{
  padding: 6px 10px;
}


/*************************/
/*      Media Query      */
/*************************/
@media screen and (max-width: 1024px){
    .custom-delete-icon{
        float: right;
        padding-left: 0;
        width: auto;
    }
    .custom_form_grp{
      float: left;
      width: 100%;
      padding-right: 0px;
    }
    .custom_label{
      width: 30%;
      float: left;
      padding-left: 0px;
    }
    .custom_select{
      width: 70%;
    }
}

@media screen and (max-width: 767px){
    .img-profile{
      margin-top: 0px;
    }
    .custom-form-row{
        width: 100%;
        text-align: left;
        padding-top: 0px;
    }
    .custom-form-row-full{
        width: 100%;
        text-align: left;
        padding-top: 0px;
    }
    .custom-doc-control{
        float: left;
        position: relative;
        /*width: 100%;*/
    }
    .pt-10{
      padding-top: 10px;
    }
    .custom-delete-icon{
      margin-top: 10px;
      text-align: right;
    }
    .custom-file-input{
      float: left;
      padding:0px;
    }
    .custom-file-input input[type='file']{
        margin-top: 10px;
    }
    .custom_title
    {
      float: left;
      width: 100%;
    }

}
@media screen and (max-width: 640px){
    .custom-file-input{
      float: left;
    }
    .form-control {
        min-width: 176px;
    }
}
@media screen and (max-width: 320px){
    .custom-delete-icon{
      padding-right: 0px;
    }
}